.highlight {
  background-color: lightslategrey;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 1rem;
}

.user-card {
  background: #1b1b1b;
  padding: 1rem;
  border-radius: 8px;
  text-align: center;
  /* border: 1px solid #333; */
}

.user-card .avatar img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}
