.bg-vid {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: 0;
}
/* #bi-eyes {
  float: "right";
  position: "absolute";
  right: "30%";
  bottom: "28%";
  cursor: "pointer";
} */

.wrapperDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* max-width: 340px;
  height: 350px; */
  max-height: 540px;
  padding: 8px;
  border-radius: 6px;
  background-color: rgb(202, 206, 206);
  opacity: 0.94;
  position: relative;
  z-index: 1;
}

.inputField {
  margin: 4px;
  border: none;
  border-radius: 4px;
  padding: 2px;
}
