.custom-join-button {
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
}
.custom-remove-button {
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
}

.meeting-live-area {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: rgb(176, 207, 233);
}
.meeting-iframe {
  width: 100%;
  height: 100%;
  border: none;
}
